<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
<title>Infecções locais e Abcessos</title>
<style type="text/css">
label {
	display: inline-block;
	width: 300px;
	margin: 2px;
	text-align: left;
}
</style>
</head>
<body>
	<div class="container" align="center">
		<h3>Fluxograma 32 - Infecções Locais e Abcessos</h3>
		<p>
		<form action="#"
			th:action="@{/SintomasComuns/infeccoesLocaisAbcessos}"
			th:object="${sintomasClassificacaoModel}" method="post">

			<input type="checkbox" th:field="*{sintomas}" id="8"
				value="Obstrucao_das_vias_aereas"> <label for="8">Obstrução
				das vias aéreas</label> <input type="checkbox" th:field="*{sintomas}" id="9"
				value="Respiracao_inadequada"> <label for="9">Respiracao_inadequada</label>

			<input type="checkbox" th:field="*{sintomas}" id="477" value="Choque">
			<label for="477">Choque</label>


			<div class="col-md-12">
				<div class="col-md-6">

					<input type="checkbox" th:field="*{sintomas}" id="10"
						value="Comprometimento_vascular_distal"> <label for="10">Comprometimento_vascular_distal</label>


					<input type="checkbox" th:field="*{sintomas}" id="11"
						value="Enfisema_subcultaneo"> <label for="11">Enfisema_subcultaneo</label>

					<input type="checkbox" th:field="*{sintomas}" id="12"
						value="Crianca_quente"> <label for="12">Crianca_quente</label>

				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox" th:field="*{sintomas}" id="12"
						value="Adulto_muito_quente"> <label for="12">Adulto_muito_quente</label>

					<input type="checkbox" th:field="*{sintomas}" id="13"
						value="Dor_intensa"> <label for="13">Dor_intensa</label> <input
						type="checkbox" th:field="*{sintomas}" id="16"
						value="Dor_ao_movimento_articular"> <label for="16">Dor_ao_movimento_articular</label>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox" th:field="*{sintomas}" id="17"
						value="Articulacao_quente"> <label for="17">Articulacao_quente</label>

					<input type="checkbox" th:field="*{sintomas}" id="227"
						value="Adulto_quente"> <label for="227">Adulto_quente</label>

					<input type="checkbox" th:field="*{sintomas}" id="247"
						value="Dor_moderada"> <label for="247">Dor_moderada</label>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-6">

					<input type="checkbox" th:field="*{sintomas}" id="24711"
						value="Febril"> <label for="24711">Febril</label> <input
						type="checkbox" th:field="*{sintomas}" id="24722"
						value="Dor_leve_recente"> <label for="24722">Dor_leve_recente</label>

					<input type="checkbox" th:field="*{sintomas}" id="24as722"
						value="Evento_recente"> <label for="24as722">Evento_recente</label>
				</div>
			</div>

			<p>
			<div>
				<button type="submit">Ir para classificação</button>
				<div>
					<a href="/sintomas_comuns_02" style="width: 300px">Voltar para
						a tela de fluxograma para Sintomas Comuns</a>
				</div>

			</div>
		</form>
	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>