<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Crianças</title>
</head>
<body>
	<div align="center">
		<form>
			<h2>Fluxogramas para Crianças</h2>
			<div>
				<a href="/Criancas/bebeChorando" style="width: 300px">Bebe chorando</a>

			</div>
			<br />
			<div>
				<a href="/Criancas/crianca_irritadica" style="width: 300px">Criança irritadiça</a>
			</div>
			<br />
			<div>
				<a href="/Criancas/criancaMancando" style="width: 300px">Criança Mancando</a>
			</div>
			<br />
			<div>
				<a href="/Criancas/malEstarEmCriancas" style="width: 300px">Mal estar em crianças</a>
			</div>
			<br />
			<div>
				<a href="/Criancas/dispineiaEmCriancas" style="width: 300px">Dispnéia em crianças</a>
			</div>
			<br />
			<div>
				<a href="/Criancas/dorAbdominalEmCriancas" style="width: 300px">Dor abdominal em crianças</a>
			</div>
			<br />
			<div>
				<a href="/grupos" style="width: 300px">Voltar para grupos</a>
			</div>
			<br />
		</form>
	</div>

</body>
</html>