<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Crianças</title>
</head>
<body>
<form>
<h2>Fluxogramas para Crianças</h2>
		<div>
			<button style="width: 300px">Bebe chorando</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Criança irritadiça</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Criança mancando</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Mal estar em crianças</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Dispinéia em crianças</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Dor abdominal em crianças</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Voltar</button>
		</div>
		<br />
	</form>
</body>
</html>