<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<title>Crianças</title>
</head>
<nav class="green">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Fluxogramas para Crianças</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="/grupos"
				class="waves-effect waves-light btn"> <i
					class="material-icons left">arrow_back</i>Voltar para grupos
			</a></li>
			<li><a href="/"><i class="material-icons left">home</i></a></li>
			</a>
		</ul>
	</div>
</nav>
<body>
	<div align="center">
		<form>
			<h4>Selecione o fluxograma desejado</h4>
			<br/>
			<div>
				<a href="/Criancas/bebeChorando" style="width: 300px">Bebe chorando</a>

			</div>
			<br />
			<div>
				<a href="/Criancas/crianca_irritadica" style="width: 300px">Criança irritadiça</a>
			</div>
			<br />
			<div>
				<a href="/Criancas/criancaMancando" style="width: 300px">Criança Mancando</a>
			</div>
			<br />
			<div>
				<a href="/Criancas/malEstarEmCriancas" style="width: 300px">Mal estar em crianças</a>
			</div>
			<br />
			<div>
				<a href="/Criancas/dispineiaEmCriancas" style="width: 300px">Dispnéia em crianças</a>
			</div>
			<br />
			<div>
				<a href="/Criancas/dorAbdominalEmCriancas" style="width: 300px">Dor abdominal em crianças</a>
			</div>
			<br />
		</form>
	</div>

</body>
</html>