<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dores</title>
</head>
<body>
	<div align="center">
		<form>
			<h2>Fluxogramas para Dores</h2>
			<div>
				<a href="/Dores/dorCervical" style="width: 300px">Dor Cervical</a>

			</div>
			<br />
			<div>
				<a href="/Dores/dorDeGarganta" style="width: 300px">Dor de Garganta</a>
			</div>
			<br />
			<div>
				<a href="/Dores/dorLombar" style="width: 300px">Dor Lombar</a>
			</div>
			<br />
			<div>
				<a href="/Dores/dorTesticular" style="width: 300px">Dor Testicular</a>
			</div>
			<br />
			<div>
				<a href="/Dores/dorToraxica" style="width: 300px">Dor Toráxica</a>
			</div>
			<br />
			<div>
				<a href="/Dores/cefaleia" style="width: 300px">Cefaléia</a>
			</div>
			<br />
			<div>
				<a href="/grupos" style="width: 300px">Voltar para grupos</a>
			</div>
			<br />
		</form>
	</div>

</body>
</html>