<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<title>Outros Fluxogramas</title>
</head>
<nav class="green">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Outros Fluxogramas</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/grupos" class="waves-effect waves-light btn">
					<i class="material-icons left">arrow_back</i>Voltar para grupos
			</a></li>
			<li><a href="/"><i class="material-icons left">home</i></a></li>
			</a>
		</ul>
	</div>
</nav>
<body>
	<div align="center">
		<form>
			<h4>Selecione o fluxograma desejado</h4>
			<br />
			<div>
				<a href="/Outros/alergia" style="width: 300px">Alergia</a>
			</div>
			<br />
			<div>
				<a href="/Outros/alteracaoDoComportamento" style="width: 300px">Alteração
					do Comportamento</a>
			</div>
			<br />
			<div>
				<a href="/Outros/asma" style="width: 300px">Asma</a>
			</div>
			<br />
			<div>
				<a href="/Outros/autoagressao" style="width: 300px">Autoagressão</a>
			</div>
			<br />
			<div>
				<a href="/Outros/convulsoes" style="width: 300px">Convulsões</a>
			</div>
			<br />
			<div>
				<a href="/Outros/dispineiaEmAdultos" style="width: 300px">Dispinéia
					em Adultos</a>
			</div>
			<br />
			<div>
				<a href="/Outros/exposicaoAgentesQuimicos" style="width: 300px">Exposição
					à Agentes Químicos</a>
			</div>
			<br />
			<div>
				<a href="/Outros/hemorragiaDigestiva" style="width: 300px">Hemorragia
					Digestiva</a>
			</div>
			<br />
			<div>
				<a href="/Outros/mordeduraPicadas" style="width: 300px">Mordeduras
					e Picadas</a>
			</div>
			<br />
			<div>
				<a href="/Outros/overdoseEnvenenamento" style="width: 300px">Overdose
					e Envenenamentos</a>
			</div>
			<br />
			<div>
				<a href="/Outros/paisPreocupados" style="width: 300px">Pais
					Preocupados</a>
			</div>
			<br />
			<div>
				<a href="/Outros/doencaMental" style="width: 300px">Doença
					Mental</a>
			</div>
			<br />
			<div>
				<a href="/Outros/corpoEstranho" style="width: 300px">Corpo
					Estranho</a>
			</div>
			<br />
			<div>
				<a href="/Outros/dst" style="width: 300px">Doença Sexualmente
					Transmissível</a>
			</div>
			<br /> <br />
		</form>
	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>