<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<title>Partes do corpo</title>
</head>
<nav class="green">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Fluxogramas para Problemas em
			Partes do Corpo</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/grupos" class="waves-effect waves-light btn">
					<i class="material-icons left">arrow_back</i>Voltar para grupos
			</a></li>
			<li><a href="/"><i class="material-icons left">home</i></a></li>
			</a>
		</ul>
	</div>
</nav>
<body>
	<div align="center">
		<form>
			<h4>Selecione o fluxograma desejado</h4>
			<br />
			<div>
				<a class="btn waves-effect" href="/ProblemasEmPartesDoCorpo/problemasDentarios"
					style="width: 300px">Problemas dentários</a>
			</div>
			<br />
			<div>
				<a class="btn waves-effect" href="/ProblemasEmPartesDoCorpo/problemasEmExtremidades"
					style="width: 300px">Problemas em extremidades</a>
			</div>
			<br />
			<div>
				<a class="btn waves-effect" href="/ProblemasEmPartesDoCorpo/problemasEmFace"
					style="width: 300px">Problemas em face</a>
			</div>
			<br />
			<div>
				<a class="btn waves-effect" href="/ProblemasEmPartesDoCorpo/problemasEmOlhos"
					style="width: 300px">Problemas em olhos</a>
			</div>
			<br />
			<div>
				<a class="btn waves-effect" href="/ProblemasEmPartesDoCorpo/problemasEmOuvidos"
					style="width: 300px">Problemas em ouvidos</a>
			</div>
			<br />
			<div>
				<a class="btn waves-effect" href="/ProblemasEmPartesDoCorpo/problemasUrinarios"
					style="width: 300px">Problemas urinários</a>
			</div>
			<br />
			<div>
				<a class="btn waves-effect" href="/ProblemasEmPartesDoCorpo/sangramentoVaginal"
					style="width: 300px">Sangramento Vaginal</a>
			</div>
			<br />
			<br />
		</form>
	</div>

</body>
</html>