<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Problemas em partes do corpo</title>
</head>
<body>
	<div align="center">
		<form>
			<h2>Fluxogramas para problemas em partes do corpo</h2>
			<div>
				<a href="/ProblemasEmPartesDoCorpo/problemasDentarios"
					style="width: 300px">Problemas dentários</a>
			</div>
			<br />
			<div>
				<a href="/ProblemasEmPartesDoCorpo/problemasEmExtremidades"
					style="width: 300px">Problemas em extremidades</a>
			</div>
			<br />
			<div>
				<a href="/ProblemasEmPartesDoCorpo/problemasEmFace"
					style="width: 300px">Problemas em face</a>
			</div>
			<br />
			<div>
				<a href="/ProblemasEmPartesDoCorpo/problemasEmOlhos"
					style="width: 300px">Problemas em olhos</a>
			</div>
			<br />
			<div>
				<a href="/ProblemasEmPartesDoCorpo/problemasEmOuvidos"
					style="width: 300px">Problemas em ouvidos</a>
			</div>
			<br />
			<div>
				<a href="/ProblemasEmPartesDoCorpo/problemasUrinarios"
					style="width: 300px">Problemas urinários</a>
			</div>
			<br />
			<div>
				<a href="/ProblemasEmPartesDoCorpo/sangramentoVaginal"
					style="width: 300px">Sangramento Vaginal</a>
			</div>
			<br />
			<div>
				<a href="/grupos" style="width: 300px">Voltar para grupos</a>
			</div>
			<br />
		</form>
	</div>

</body>
</html>