<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<title>Sintomas Comuns</title>
</head>
<nav class="green">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Fluxogramas para Sintomas Comuns</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/grupos" class="waves-effect waves-light btn">
					<i class="material-icons left">arrow_back</i>Voltar para grupos
			</a></li>
			<li><a href="/"><i class="material-icons left">home</i></a></li>
			</a>
		</ul>
	</div>
</nav>
<body>
	<div align="center">
		<form>
			<h4>Selecione o fluxograma desejado</h4>
			<br />
			<div>
				<a href="/SintomasComuns/desmaioNoAdulto" style="width: 300px">Desmaio no adulto</a>

			</div>
			<br />
			<div>
				<a href="/SintomasComuns/embriaguezAparente" style="width: 300px">Embriaguez aparente</a>
			</div>
			<br />
			<div>
				<a href="/SintomasComuns/feridas" style="width: 300px">Feridas</a>
			</div>
			<br />
			<div>
				<a href="/SintomasComuns/infeccoesLocaisAbcessos" style="width: 300px">Infecções locais e abcessos</a>
			</div>
			<br />
			<div>
				<a href="/SintomasComuns/malEstarEmAdultos" style="width: 300px">Mal estar em adultos</a>
			</div>
			<br />
			<div>
				<a href="/SintomasComuns/diarreiaVomitos" style="width: 300px">Diarréia e/ou vômitos</a>
			</div>
			<br /> 
			
						<div>
				<a href="/SintomasComuns/agressao" style="width: 300px">Agressão</a>
			</div>
			<br /> 
						<div>
				<a href="/SintomasComuns/palpitacoes" style="width: 300px">Palpitações</a>
			</div>
			<br /> 
						<div>
				<a href="/SintomasComuns/diabetes" style="width: 300px">Diabetes</a>
			</div>
			<br /> 
						<div>
				<a href="/SintomasComuns/erupcaoCultanea" style="width: 300px">Erupção cultânes</a>
			</div>
			<br /> 
						<div>
				<a href="/SintomasComuns/dorAbdominalEmAdultos" style="width: 300px">Dor abdominal em adultos</a>
			</div>
			<br /> 
						<div>
				<a href="/SintomasComuns/gravidez" style="width: 300px">Gravidez</a>
			</div>
			<br /> 
						<div>
				<a href="/SintomasComuns/quedas" style="width: 300px">Quedas</a>
			</div>
			<br /> 
						<div>
				<a href="/SintomasComuns/queimaduras" style="width: 300px">Queimaduras</a>
			</div>
			<br /> 
			<br />
		</form>
	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</body>
</html>