<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Traumas</title>
</head>
<body>
	<div align="center">
		<form>
			<h2>Fluxogramas para Traumas</h2>
			<div>
				<a href="/Traumas/traumaCranioencefalico" style="width: 300px">Trauma Cranioencefálico</a>

			</div>
			<br />
			<div>
				<a href="/Traumas/traumaMaior" style="width: 300px">Trauma Maior</a>
			</div>
			<br />
			<div>
				<a href="/Traumas/traumaToracoabdominal" style="width: 300px">Trauma Toracoabdominal</a>
			</div>
			<br />
			<div>
				<a href="/grupos" style="width: 300px">Voltar para grupos</a>
			</div>
			<br />
		</form>
	</div>

</body>
</html>