<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sangramento Vaginal</title>
<style type="text/css">
label {
	display: inline-block;
	width: 400px;
	margin: 2px;
	text-align: left;
}

button {
	margin: 10px;
	padding: 10px;
}

input[type=text], input[type=password], select {
	display: inline-block;;
	width: 200 px;
}

input[type=checkbox] {
	margin-right: 190 px;
}
</style>
</head>
<body>
	<div align="center" class="container">
		<h2>47 - Sangramento Vaginal</h2>
		<form action="#"
			th:action="@{/ProblemasEmPartesDoCorpo/sangramentoVaginal}"
			th:object="${sintomasClassificacaoModel}" method="post">

			<div>
				<input type="checkbox" th:field="*{sintomas}" id="8"
					value="Obstrucao_das_vias_aereas"> <label for="8">Obstrucao_das_vias_aereas</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="9"
					value="Respiracao_inadequada"> <label for="9">Respiracao_inadequada</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="asa9"
					value="Hemorragia_hexanguinante"> <label for="asa9">Hemorragia_hexanguinante</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="2" value="Choque">
				<label for="2">Choque</label>
			</div>

			<div>
				<input type="checkbox" th:field="*{sintomas}" id="454"
					value="Alteracao_subita_da_consciencia"> <label for="454">Alteracao_subita_da_consciencia</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="11"
					value="Sangramento_vaginal_mais_de_20_semanas_de_gravidez"> <label for="11">Sangramento_vaginal_mais_de_20_semanas_de_gravidez</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="10"
					value="Sangramento_vaginal_intenso"> <label for="10">Sangramento_vaginal_intenso</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="12"
					value="Dor_intensa"> <label for="12">Dor_intensa</label>
			</div>
			
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="7"
					value="Dor_abdominal"> <label for="7">Dor_abdominal</label>
			</div>


			<div>
				<input type="checkbox" th:field="*{sintomas}" id="12"
					value="Dor_irradiada_para_o_ombro"> <label for="12">Dor_irradiada_para_o_ombro</label>
			</div>

			<div>
				<input type="checkbox" th:field="*{sintomas}" id="13"
					value="Trauma_vaginal"> <label for="13">Trauma_vaginal</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="18"
					value="Disturbio_de_coagulacao"> <label
					for="18">Disturbio_de_coagulacao</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="21"
					value="Historia_discordante"> <label for="21">Historia_discordante</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="2551"
					value="Gravidez_possivel"> <label for="2551">Gravidez_possivel</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="2561"
					value=Dor_moderada> <label for="2561">Dor_moderada</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="556"
					value="Dor_leve_recente"> <label for="556">Dor_leve_recente</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="557"
					value="Evento_recente"> <label for="557">Evento_recente</label>
			</div>
			<div>
				<a href="/partes_do_corpo" style="width: 300px">Voltar para a
					tela de fluxograma para problemas em partes do corpo</a>
			</div>


			<button type="submit">Ir para classificação</button>

		</form>
	</div>
</body>
</html>