<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<title>Bebê Chorando</title>
<style>
label {
	display: inline-block;
	width: 300px;
	margin: 2px;
	text-align: left;
}
</style>
</head>
<body>
	<header>
		<nav class="green">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Escolha do grupo de fluxogramas
					desejado</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">

					<li><a href="/"><i class="material-icons left">home</i></a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div align="center" class="container">
		<h2>06 - Bebê Chorando</h2>
		<form action="#" th:action="@{/Criancas/bebeChorando}"
			th:object="${sintomasClassificacaoModel}" method="post">
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="8"
					value="Obstrucao_das_vias_aereas"> <label for="8">Obstrucao_das_vias_aereas</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="9"
					value="Respiracao_inadequada"> <label for="9">Respiracao_inadequada</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="2" value="Choque">
				<label for="2">Choque</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="7"
					value="Nao_reativa"> <label for="7">Nao_reativa</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="10"
					value="Sinais_de_dor_intensa"> <label for="10">Sinais_de_dor_intensa</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="11"
					value="Resposta_a_voz_ou_a_dor_apenas"> <label for="11">Resposta_a_voz_ou_a_dor_apenas</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="12"
					value="Prostracao"> <label for="12">Prostracao</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="12"
					value="Hipotonia"> <label for="12">Hipotonia</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="13"
					value="Purpura"> <label for="13">Purpura</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="14"
					value="Erupcao_cultanea_fixa"> <label for="14">Erupcao_cultanea_fixa</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="15"
					value="Crianca_quente"> <label for="15">Crianca_quente</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="16"
					value="Sinais_de_dor_moderada"> <label for="16">Sinais_de_dor_moderada</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="17"
					value="Historia_de_inconsciencia"> <label for="17">Historia_de_inconsciencia</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="18"
					value="Historia_discordante"> <label for="18">Historia_discordante</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="19"
					value="Inconsolavel_pelos_pais"> <label for="19">Inconsolavel_pelos_pais</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="20"
					value="Choro_prolongado_e_initerrupto"> <label for="20">Choro_prolongado_e_initerrupto</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="21"
					value="Incapaz_de_se_alimentar"> <label for="21">Incapaz_de_se_alimentar</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="22"
					value="Sinais_de_dor_leve_recente"> <label for="22">Sinais_de_dor_leve_recente</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="23" value="Febril">
				<label for="23">Febril</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="24"
					value="Comportamento_atipico"> <label for="24">Comportamento_atipico</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="25"
					value="Evento_recente"> <label for="25">Evento_recente</label>
			</div>
			<div>
				<a href="/criancas" style="width: 300px">Voltar para a tela de
					fluxograma para crianças</a>
			</div>

			<script type="text/javascript">
				$('#mySwitch1').click(function() {
					if ($(this).is(":checked")) {
						$(this).val('true');
						$('#_mySwitch').val('on');
					} else {
						$('#_mySwitch').val('');
					}
				});
			</script>
			<button type="submit">Ir para classificação</button>

		</form>
	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>