<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bebê Chorando</title>
<style type="text/css">
label {
	display: inline-block;
	width: 400px;
	margin: 2px;
	text-align: left;
}

button {
	margin: 10px;
	padding: 10px;
}

input[type=text], input[type=password], select {
	display: inline-block;;
	width: 200 px;
}

input[type=checkbox] {
	margin-right: 190 px;
}
</style>
</head>
<body>
	<div align="center">
		<h2>06 - Bebê Chorando</h2>

		<!-- action="#" th:action="@{/bebeChorando}"
			th:object="${seedStarter}" method="post"  -->
		<form>
			<div>
				<input type="checkbox" id="1" name="1"> <label for="1">Obstrução
					das vias aéreas</label>
			</div>
			<div>
				<input type="checkbox" id="2" name="2"> <label for="2">Respiração
					Inadequada</label>
			</div>
			<div>
				<input type="checkbox" id="3" name="3"> <label for="3">Choque</label>
			</div>
			<div>
				<input type="checkbox" id="4" name="4"> <label for="4">Não
					reativa</label>
			</div>
			<div>
				<input type="checkbox" id="5" name="5"> <label for="5">Sinais
					de dor intensa</label>
			</div>
			<div>
				<input type="checkbox" id="6" name="6"> <label for="6">Resposta
					à voz ou a dor apenas</label>
			</div>
			<div>
				<input type="checkbox" id="7" name="7"> <label for="7">Prostração</label>
			</div>
			<div>
				<input type="checkbox" id="8" name="8"> <label for="8">Hipotonia</label>
			</div>
			<div>
				<input type="checkbox" id="9" name="9"> <label for="9">Púrpura</label>
			</div>
			<div>
				<input type="checkbox" id="10" name="10"> <label for="10">Erupção
					cultânea fixa</label>
			</div>
			<div>
				<input type="checkbox" id="11" name="11"> <label for="11">Criança
					quente</label>
			</div>
			<div>
				<input type="checkbox" id="12" name="12"> <label for="12">Sinais
					de dor moderada</label>
			</div>
			<div>
				<input type="checkbox" id="13" name="13"> <label for="13">História
					de inconsciência</label>
			</div>
			<div>
				<input type="checkbox" id="14" name="14"> <label for="14">História
					discordante</label>
			</div>
			<div>
				<input type="checkbox" id="15" name="15"> <label for="15">Incosolável
					pelos pais</label>
			</div>
			<div>
				<input type="checkbox" id="16" name="16"> <label for="16">Choro
					prolongado e initerrupto</label>
			</div>
			<div>
				<input type="checkbox" id="17" name="17"> <label for="17">Incapaz
					de se alimentar</label>
			</div>

			<div>
				<input type="checkbox" id="18" name="18"> <label for="18">Sinais
					de dor leve recente</label>
			</div>
			<div>
				<input type="checkbox" id="19" name="19"> <label for="19">Febril</label>
			</div>
			<div>
				<input type="checkbox" id="20" name="20"> <label for="20">Comportamento
					atípico</label>
			</div>
			<div>
				<input type="checkbox" id="21" name="21"> <label for="21">Evento
					recente</label>
			</div>
			<br />
			<div>
				<button style="width: 400px">Classificar Paciente</button>
			</div>
		</form>

	</div>

</body>
</html>