<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
<title>Doença Mental</title>
<style type="text/css">
label {
	display: inline-block;
	width: 300px;
	margin: 2px;
	text-align: left;
}
</style>
</head>
<body>


	<div class="container" align="center">
		<h3>Fluxograma 17 - Doença Mental</h3>
		<p>
		<form action="#" th:action="@{/Outros/doencaMental}"
			th:object="${sintomasClassificacaoModel}" method="post">
			<input type="checkbox" th:field="*{sintomas}" id="8"
				value="Obstrucao_das_vias_aereas"> <label for="8">Obstrução
				das vias aéreas</label> <input type="checkbox" th:field="*{sintomas}" id="9"
				value="Respiracao_inadequada"> <label for="9">Respiracao_inadequada</label>
			<input type="checkbox" th:field="*{sintomas}" id="477" value="Choque">
			<label for="477">Choque</label>


			<div class="col-md-12">
				<div class="col-md-6">

					<input type="checkbox" th:field="*{sintomas}" id="10"
						value="Hipoglicemia"> <label for="10">Hipoglicemia</label>
					<input type="checkbox" th:field="*{sintomas}" id="11"
						value="Alteracao_subita_da_consciencia"> <label for="11">Alteracao_subita_da_consciencia</label>
					<input type="checkbox" th:field="*{sintomas}" id="12"
						value="Alto_risco_de_agredir_os_outros"> <label for="12">Alto_risco_de_agredir_os_outros</label>

				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox" th:field="*{sintomas}" id="12"
						value="Alto_risco_de_autoagressao"> <label for="12">Alto_risco_de_autoagressao</label>

					<input type="checkbox" th:field="*{sintomas}" id="13"
						value="Historia_psiquiatrica_importante"> <label for="13">Historia_psiquiatrica_importante</label>
					<input type="checkbox" th:field="*{sintomas}" id="16"
						value="Risco_moderado_de_agredir_os_outros"> <label
						for="16">Risco_moderado_de_agredir_os_outros</label>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox" th:field="*{sintomas}" id="17"
						value="Risco_moderado_de_autoagressao"> <label for="17">Risco_moderado_de_autoagressao</label>
					<input type="checkbox" th:field="*{sintomas}" id="16"
						value="Agitacao_psicomotora"> <label for="16">Agitacao_psicomotora</label>
					<input type="checkbox" th:field="*{sintomas}" id="16"
						value="Comportamento_conturbador"> <label for="16">Comportamento_conturbador</label>
				</div>
			</div>
			<p>
			<div>
				<button type="submit">Ir para classificação</button>
				<div>
					<a href="/outros" style="width: 300px">Voltar para a tela de
						outros fluxogramas</a>
				</div>

			</div>
		</form>
	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>