<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
<title>Cefaléia</title>
<style type="text/css">
label {
	display: inline-block;
	width: 300px;
	margin: 2px;
	text-align: left;
}
</style>
</head>
<body>
	<div class="container" align="center">

		<p>
		<form action="#" th:action="@{/Dores/cefaleia}"
			th:object="${sintomasClassificacaoModel}" method="post">
			<input type="checkbox" th:field="*{sintomas}" id="8"
				value="Obstrucao_das_vias_aereas"> <label for="8">Obstrução
				das vias aéreas</label> <input type="checkbox" th:field="*{sintomas}" id="9"
				value="Respiracao_inadequada"> <label for="9">Respiracao_inadequada</label>
			<input type="checkbox" th:field="*{sintomas}" id="477" value="Choque">
			<label for="477">Choque</label>


			<div class="col-md-12">
				<div class="col-md-6">

					<input type="checkbox" th:field="*{sintomas}" id="10"
						value="Crianca_nao_reativa"> <label for="10">Crianca_nao_reativa</label>


					<input type="checkbox" th:field="*{sintomas}" id="11"
						value="Convulsionando"> <label for="11">Convulsionando</label>

					<input type="checkbox" th:field="*{sintomas}" id="12"
						value="Inicio_abrupto"> <label for="12">Inicio_abrupto</label>

				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox" th:field="*{sintomas}" id="12"
						value="Alteracao_subita_da_consciencia"> <label for="12">Alteracao_subita_da_consciencia</label>

					<input type="checkbox" th:field="*{sintomas}" id="13"
						value="Deficit_neurologico_agudo"> <label for="13">Deficit_neurologico_agudo</label>

					<input type="checkbox" th:field="*{sintomas}" id="16"
						value="Perda_total_da_visao_aguda"> <label for="16">Perda_total_da_visao_aguda</label>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox" th:field="*{sintomas}" id="17"
						value="Sinais_de_meningismo"> <label for="17">Sinais_de_meningismo</label>

					<input type="checkbox" th:field="*{sintomas}" id="227"
						value="Erupcao_cultanea_fixa"> <label for="227">Erupcao_cultanea_fixa</label>

					<input type="checkbox" th:field="*{sintomas}" id="247"
						value="Purpura"> <label for="247">Purpura</label>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-6">

					<input type="checkbox" th:field="*{sintomas}" id="24711"
						value="Crianca_quente"> <label for="24711">Crianca_quente</label>

					<input type="checkbox" th:field="*{sintomas}" id="24722"
						value="Adulto_muito_quente"> <label for="24722">Adulto_muito_quente</label>

					<input type="checkbox" th:field="*{sintomas}" id="24as722"
						value="Dor_intensa"> <label for="24as722">Dor_intensa</label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">

					<input type="checkbox" th:field="*{sintomas}" id="a24as722"
						value="Historia_de_trauma_cranioencefalico"> <label
						for="a24as722">Historia_de_trauma_cranioencefalico</label> <input
						type="checkbox" th:field="*{sintomas}" id="b24as722"
						value="Historia_de_inconsciencia"> <label for="b24as722">Historia_de_inconsciencia</label>

					<input type="checkbox" th:field="*{sintomas}" id="c24as722"
						value="Disturbio_de_coagulacao"> <label for="c24as722">Disturbio_de_coagulacao</label>
				</div>
			</div>



			<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox" th:field="*{sintomas}" id="d24as722"
						value="Historia_discordante"> <label for="d24as722">Historia_discordante</label>

					<input type="checkbox" th:field="*{sintomas}" id="e24as722"
						value="Reducao_recente_da_acuidade_visual"> <label
						for="e24as722">Reducao_recente_da_acuidade_visual</label> <input
						type="checkbox" th:field="*{sintomas}" id="f24as722"
						value="Vomitos_persistentes"> <label for="f24as722">Vomitos_persistentes</label>
				</div>
			</div>


			<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox" th:field="*{sintomas}" id="g24as722"
						value="Deficit_neurologico_novo"> <label for="g24as722">Deficit_neurologico_novo</label>

					<input type="checkbox" th:field="*{sintomas}" id="h24as722"
						value="Couro_cabeludo_temporal_dolorido"> <label
						for="h24as722">Couro_cabeludo_temporal_dolorido</label> <input
						type="checkbox" th:field="*{sintomas}" id="i24as722"
						value="Adulto_quente"> <label for="i24as722">Adulto_quente</label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6"></div>
				<input type="checkbox" th:field="*{sintomas}" id="j24as722"
					value="Dor_moderada"> <label for="j24as722">Dor_moderada</label>

				<input type="checkbox" th:field="*{sintomas}" id="k24as722"
					value="Febril"> <label for="k24as722">Febril</label> <input
					type="checkbox" th:field="*{sintomas}" id="l24as722"
					value="Vomitos"> <label for="l24as722">Vomitos</label>
			</div>


			<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox" th:field="*{sintomas}" id="m24as722"
						value="Dor_leve_recente"> <label for="m24as722">Dor_leve_recente</label>
					<input type="checkbox" th:field="*{sintomas}" id="n24as722"
						value="Evento_recente"> <label for="n24as722">Evento_recente</label>
				</div>
			</div>
			<p>
			<div>
				<button type="submit">Ir para classificação
				</button>
							<div>
				<a href="/dores" style="width: 300px">Voltar para a tela de
					fluxograma para Dores</a>
			</div>

			</div>
		</form>
	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>	
</body>
</html>