<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dor Lombar</title>
<style type="text/css">
label {
	display: inline-block;
	width: 400px;
	margin: 2px;
	text-align: left;
}

button {
	margin: 10px;
	padding: 10px;
}

input[type=text], input[type=password], select {
	display: inline-block;;
	width: 200 px;
}

input[type=checkbox] {
	margin-right: 190 px;
}
</style>
</head>
<body>
	<div align="center" class="container">
		<h2>23 - Dor Lombar</h2>
		<form action="#" th:action="@{/Dores/dorLombar}"
			th:object="${sintomasClassificacaoModel}" method="post">

			<div>
				<input type="checkbox" th:field="*{sintomas}" id="8"
					value="Obstrucao_das_vias_aereas"> <label for="8">Obstrucao_das_vias_aereas</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="9"
					value="Respiracao_inadequada"> <label for="9">Respiracao_inadequada</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="477"
					value="Choque"> <label for="477">Choque</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="10"
					value="Deficit_neurologico_agudo"> <label for="10">Deficit_neurologico_agudo</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="11"
					value="Mecanismo_de_trauma_significativo"> <label for="11">Mecanismo_de_trauma_significativo</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="12"
					value="Crianca_quente"> <label for="12">Crianca_quente</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="12"
					value="Adulto_muito_quente"> <label for="12">Adulto_muito_quente</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="1as3"
					value="Dor_abdominal"> <label for="1as3">Dor_abdominal</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="13"
					value="Dor_intensa"> <label for="13">Dor_intensa</label>
			</div>

			<div>
				<input type="checkbox" th:field="*{sintomas}" id="16"
					value="Deficit_neurologico_novo"> <label for="16">Deficit_neurologico_novo</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="17"
					value="Trauma_direto_no_dorso"> <label for="17">Trauma_direto_no_dorso</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="18"
					value="Incapaz_de_andar"> <label for="18">Incapaz_de_andar</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="26"
					value="Adulto_quente"> <label for="26">Adulto_quente</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="27"
					value="Colicas"> <label for="27">Colicas</label>
			</div>

			<div>
				<input type="checkbox" th:field="*{sintomas}" id="217"
					value="Historia_discordante"> <label for="217">Historia_discordante</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="227"
					value="Dor_moderada"> <label for="227">Dor_moderada</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="237"
					value="Dor_leve_recente"> <label for="237">Dor_leve_recente</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="247"
					value="Evento_recente"> <label for="247">Evento_recente</label>
			</div>

			<div>
				<a href="/dores" style="width: 300px">Voltar para a tela de
					fluxogramas para dores</a>
			</div>

			<button type="submit">Ir para classificação</button>

		</form>
	</div>
</body>
</html>