<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dor Toráxica</title>
<style type="text/css">
label {
	display: inline-block;
	width: 400px;
	margin: 2px;
	text-align: left;
}

button {
	margin: 10px;
	padding: 10px;
}

input[type=text], input[type=password], select {
	display: inline-block;;
	width: 200 px;
}

input[type=checkbox] {
	margin-right: 190 px;
}
</style>
</head>
<body>
	<div align="center" class="container">
		<h2>25 - Dor Toráxica</h2>
		<form action="#" th:action="@{/Dores/dorToraxica}"
			th:object="${sintomasClassificacaoModel}" method="post">

			<div>
				<input type="checkbox" th:field="*{sintomas}" id="8"
					value="Obstrucao_das_vias_aereas"> <label for="8">Obstrucao_das_vias_aereas</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="9"
					value="Respiracao_inadequada"> <label for="9">Respiracao_inadequada</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="477"
					value="Choque"> <label for="477">Choque</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="10"
					value="Dor_precordial_ou_cardiaca"> <label for="10">Dor_precordial_ou_cardiaca</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="11"
					value="Dispineia_aguda"> <label for="11">Dispineia_aguda</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="12"
					value="Pulso_anormal"> <label for="12">Pulso_anormal</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="12"
					value="Dor_intensa"> <label for="12">Dor_intensa</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="13"
					value="Dor_pleuritica"> <label for="13">Dor_pleuritica</label>
			</div>

			<div>
				<input type="checkbox" th:field="*{sintomas}" id="16"
					value="Vomitos_persistentes"> <label for="16">Vomitos_persistentes</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="17"
					value="Historia_cardiaca_importante"> <label for="17">Historia_cardiaca_importante</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="227"
					value="Dor_moderada"> <label for="227">Dor_moderada</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="247"
					value="Vomitos"> <label for="247">Vomitos</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="24711"
					value="Dor_leve_recente"> <label for="24711">Dor_leve_recente</label>
			</div>
			<div>
				<input type="checkbox" th:field="*{sintomas}" id="24722"
					value="Evento_recente"> <label for="24722">Evento_recente</label>
			</div>

			<div>
				<a href="/dores" style="width: 300px">Voltar para a tela de
					fluxogramas para dores</a>
			</div>

			<button type="submit">Ir para classificação</button>

		</form>
	</div>
</body>
</html>