<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Classificação de Risco</title>
</head>
<body>

	<form th:action="@{/SintomasClassificacao}" method="get">
		<div align="center" class="container"
			th:each="SintomasClassificacaoModel : ${sintomasClassificacaoModel}">
			<div class="row">
				-------------------------------------------------------------------------------------------------------------------
				<h4 style="color: #ff0000">Resumo da Classificação</h4>
				<p>
					<span>Grupo: </span><span
						th:text="${SintomasClassificacaoModel.grupo}"></span>
				</p>
				<p>
					<span>Sintoma mais grave: </span><span
						th:text="${SintomasClassificacaoModel.sintomas}"></span>
				</p>
				<p>
					<span>Classificação: </span><span
						th:text="${SintomasClassificacaoModel.classificacao}"></span>
				</p>
				<p>
					<span>Local de Atendimento: </span><span
						th:text="${SintomasClassificacaoModel.local}"></span>
				</p>
				<p>
					<span>Tipo de Antendimento: </span><span
						th:text="${SintomasClassificacaoModel.tempoAtendimentoImediato}"></span>
				</p>
				<p>
					<span>Tempo de Espera (minutos): </span><span
						th:text="${SintomasClassificacaoModel.tempoAtendimentoMinutos}"></span>
				</p>
			</div>
		</div>
	</form>
</body>
</html>