<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Classificação de Risco</title>
</head>
<body>
	<div
		th:each="SintomasClassificacaoModel : ${sintomasClassificacaoModel}">
		<div class="row">
			-------------------------------------------------------------------------------------------------------------------
			<p>
				<span>Sintoma mais grave: </span><span
					th:text="${SintomasClassificacaoModel.sintomas}"></span>
			</p>
			<p>
				<span>Classificação: </span><span
					th:text="${SintomasClassificacaoModel.classificacao}"></span>
			</p>
			<p>
				<span>Local de Atendimento: </span><span
					th:text="${SintomasClassificacaoModel.local}"></span>
			</p>
			<p>
				<span>Tempo de Espera: </span><span
					th:text="${SintomasClassificacaoModel.tempoAtendimentoMinutos}"></span>
			</p>
		</div>
	</div>


</body>
</html>