<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Grupos de Fluxogramas</title>
</head>
<body>
	<form>
		<h2>Escolha o grupo que deseja ver:</h2>
		<div>
			<button style="width: 300px">Crianças</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Traumas</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Partes do Corpo</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Dores</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Sintomas Comuns</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Outros</button>
		</div>
		<br />
		<div>
			<button style="width: 300px">Voltar</button>
		</div>
		<br />
	</form>
</body>
</html>