<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="https://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<title>Sistema de Triagem Previa</title>
</head>
<body>
	<h1>Sistema de Classificação de Risco</h1>
	<form>
		<p>Marque os sintomas que o paciente esta sentindo:</p>

		<div>
			<input type="checkbox" id="1" name="1"> <label for="1">Baba-se</label>
		</div>
		<div>
			<input type="checkbox" id="2" name="2"> <label for="2">Choque</label>
		</div>
		<div>
			<input type="checkbox" id="3" name="3"> <label for="3">Convulsionando</label>
		</div>
		<div>
			<input type="checkbox" id="4" name="4"> <label for="4">Criança	não reativa</label>
		</div>
		<div>
			<input type="checkbox" id="5" name="5"> <label for="5">Estridor</label>
		</div>
		<div>
			<input type="checkbox" id="6" name="6"> <label for="6">Hipoglicemia</label>
		</div>
		<div>
			<input type="checkbox" id="7" name="7"> <label for="7">Não reativa</label>
		</div>
		<div>
			<input type="checkbox" id="8" name="8"> <label for="8">Obstrução das vias aéreas</label>
		</div>
		<div>
			<input type="checkbox" id="9" name="9"> <label for="9">Respiração Inadequada</label>
		</div>
	</form>	
</body>
</html>